<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        Book description and reviews
    </title>

</head>

<body>
    <div class="alert alert-warning" role="alert">
        When done, don't forget to
        <strong>
            <a href="{{ url_for('logout') }}">log out
            </a>
        </strong>
    </div>
    <div class="container-fluid">
        <h1>Book card</h1>
        <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ result[0].title }}</div>
            <div class="card-body text-dark">
                <h5 class="card-title">{{ result[0].author }}</h5>
                <p class="card-text">Publication year {{ result[0].year }}
                    <br> ISBN {{ result[0].isbn }}</p>
                {% if result[2]["ratings_count"] != 0 %}
                <p class="card-text">Goodreads reviews {{ result[2]["ratings_count"] }}
                    <br> Goodreads rating {{ result[2]["average_rating"] }}</p>
                {% endif %}
            </div>

        </div>
        <h2>Reviews</h2>
        <table class="table table-light">
            <tr>
                <th>rating</th>
                <th>comments</th>
                <th>user</th>
            </tr>
            {% for review in result[1] %}
            <tr>
                <td>{{ review.rating }}</td>
                <td>{{ review.comments }}</td>
                <td>{{ review.name }}</td>
            </tr>
            {% endfor %}
        </table>
        <form>
            <input type="text" name="review_title">
            <input type="text" name="review_text">
            <button>Submit</button>
        </form>
    </div>
</body>

</html>